@charset "UTF-8";

/*
Color Scheme from Adobe Kuler:

Base: 29C4F3
Lighter: 45D4FF
Darker: 0080A6

Icon Brown: B77E2C
Light Compliment: F38D29
Dark Compliment: A65A10
*/

/* Browser Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Section Id Styles */
body {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	background: #29C4F3
	;
}
#wrapper {
	width: 45em;
	background: #FFF;
	margin: 2em auto 0;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-khtml-border-radius: 1.5em;
	border-radius: 1.5em;
}
#header {
  text-align: left;
  background: #FFF;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 3em 1.5em;
  text-align: center;
}
/* Disabled #menu {
	padding: 1em;
	background: #B77E2C;
} */
#content {
	background:#FFF;
	-moz-border-radius-bottomleft: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* Text Styles */
#content h1 {
	padding: 0.5em 3em;
	font-size: 1.5em;
	color: #0E83A6;
}
#content p {
	line-height: 1.8em;
	text-align: justify;
	padding: 0.5em 6em;
}
#footer p {
	margin-bottom: 2em;
	padding: 0.5em;
	color: #FFF;
	font-size: 0.9em;
	text-align: center;
}

/* Link Styles */
a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

/* Form Styles */
fieldset {
	border: none;
}
form {
	margin-left: 50px;
	padding-bottom: 30px;
}
form label {
	display: block;
	vertical-align: top;
	font-size: 1em;
	text-align: left;
	clear: left;
	margin-right: .75em;
}
.textField {
	width: 200px;
	height: 25px;
}

/* Misc Extra Classes */
.emphasis {
	font-style: italic;
}
.video {
	padding: 30px 40px;
}
.screenshot {
	text-align: center;
}