@charset "UTF-8";

/*
Color Scheme from Adobe Kuler:

Base: 29C4F3
Lighter: 45D4FF
Darker: 0080A6

Icon Brown: B77E2C
Light Compliment: F38D29
Dark Compliment: A65A10
*/

/* Browser Reset */
html, body, div, span, object, 
h1, h2, h3, h4, h5, h6, p, 
blockquote, a, code, em, img, 
ol, ul, li, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Background and White Box Styles */
body {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	background: #29C4F3
	;
}
#wrapper {
	width: 60em;
	background: #FFF;
	margin: 2em auto 0;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}

/* Header Styles */
#header {
  text-align: left;
  background: #FFF;
  padding: 3em 0 3em 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#header img { float: left; }

/* Navigation Bar Styles */
#nav {
	background: url("_images/navBar.gif") repeat-x;
	margin-left: 240px;
	margin-top: 65px;
}
#nav ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	text-align: center;
}
#nav a {
	color: #A65A10;
	text-decoration: none;
	display: block;
	width: 100px;
	border-right: 1px solid #29C4F3;
	padding: 8px 0;
}
#nav a:hover { color: #fff; }
#nav a.end{ border: none; }
#nav .active { color: #fff; }

/* Main Content Styles */
#content {
	background:#FFF;
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
#content h1 {
	padding: 0.5em 3em;
	font-size: 1.5em;
	color: #0E83A6;
}
#content p {
	line-height: 1.8em;
	text-align: justify;
	padding: 0.5em 6em;
}
#content p.emphasis {
	font-style: italic;
}
#content .video {
	padding: 30px 40px;
}
#content.screenshot {
	text-align: center;
}
/* Link Styles */
#content a:link {
	color: #42413C;
	text-decoration: underline;
}
#content a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
#content a:hover, a:active, a:focus { 
	text-decoration: none;
}

/* Contact Form Styles */
fieldset {
	border: none;
}
form {
	margin-left: 50px;
	padding-bottom: 30px;
}
form label {
	display: block;
	vertical-align: top;
	font-size: 1em;
	text-align: left;
	clear: left;
	margin-right: .75em;
}
.textField {
	width: 200px;
	height: 25px;
}

/* Copyright Footer Styles */
#footer p {
	margin-bottom: 2em;
	padding: 0.5em;
	color: #FFF;
	font-size: 0.9em;
	text-align: center;
}

/* Extra Class for Clearing Floats */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}