@charset "UTF-8";

/*
Color Scheme from Adobe Kuler:

Base: 29C4F3
Lighter: 45D4FF
Darker: 0080A6

Icon Brown: B77E2C
Light Compliment: F38D29
Dark Compliment: A65A10
*/
body {
	color: #222;
}
#header {
	/*background: url(../_images/headerbg.png) no-repeat;*/
	padding: 6px	0;
}
.bg {
	width: 100%;
	position: absolute;
	left: 0;
	z-index: -1;
}
#header .bg {
	top: 0;
	height: 106px;
}
#banner .bg {
	top: 106px;
	height: 332px;
}
#content .bg{
	top: 438px;
	height: 756px;
}
.nobanner{
	top: 106px;
	height: 756px;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: -1;
}
#nav ul, #nav li {
	list-style-type: none;
	display: block;
	float: right;
	text-align: center;
	margin: 0;
	padding: 0;
}
#nav a {
	color: #b77e2c;
	text-decoration: none;
	display: block;
	width: 6.5em;
	border-right: 1px solid #333;
	margin-top: 3em;
	font-size: 1.5em;
	font-weight: 300;
	text-shadow: 0 0 0 #000;
}
#nav a:hover { color: #27c3f3; }
#nav a.end { border: none; }

#banner {
	padding: 24px 0 16px;
}
#banner h2 {
	font-size: 1.5em;
}
#content {
	padding: 2em 0;
}
#growth {
	padding: 1.5em 0 0;
}
#callToAction {
	padding: 3em 0;
}
#callToAction a {
	color: #222;
}
#footer {
	color: #AAA;
	background-color: #222;
	padding-top: 8px;
}

#footer ul {
	list-style-type: none;
}
#footer li {
	line-height: 1.5em;
	font-size: .833em;
}
#footer a {
	color: #AAA;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	color: #222;
}
h1 {
	font-size: 4em;
	margin: 72px 0 10px;
}
h2 {
	font-size: 3em; 
}
h3 {
	font-size: 2em; 
	margin: .33em 0;
}
h4 {
	font-size: 1.5em;
	font-style: italic;
	margin: 0.5em 0 1.5em;
}
h5 {
	font-size: 1.33em;
}
h6 {
	font-size: .833em;
	font-weight: normal;
	color: #AAA;
}